html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
    margin: 0;
    background-color: #557a95;
    padding: 0;
  }
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Baskerville", serif;
}

/*
  Nav Bar ----------------------------------------------------------------------------------------
  */
   .NAV {
    position: fixed;
    z-index: 2;
    width: 100%;
  }
   .logo {
    text-align: center;
    display: flex;
    padding-top: 10px;

  }
   .logo img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
  }
   .logo span {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
  }
   header a {
    text-decoration: none;
  }
   header {
    z-index: 5;
    padding: 0 20px;
    background: transparent;
    height: 65px;
    display: flex;
    justify-content: space-between;
  }
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  #brand a {
    color: #09c372;
  }
   ul {
    list-style: none;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-top: 5px;
    padding-bottom: 25px;
    padding: 5px 20px 20px 10px;
    border-radius: 40%;
  }
  .links-nav{
    margin-top: 15px;
    padding-top: 5px;
    font-size: 20px;
    padding-right: 35px;
    padding-left: 30px;
    border-right: 1px solid white;
  }
   ul a {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
   ul p {
    font-size: 16px;
    font-weight: bolder;
    margin-top: -5px;
  }
   ul li {
    padding: 1px;
    margin-left: 10px;
  }
   ul a:hover {
      color: #30bd53;
    transition: 0.3s;
  }
   .dropdown {
    position: relative;
    margin-top: 15px;
    display: inline-block; /* Keep the dropdown as an inline block */
    padding-left: 30px;
  }
  .dropdown.open .dropdown-content {
    display: block;
  }

   .dropdown-content {
    position: absolute;
    top: 137%;
    left: -75px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #557a95;
    border-radius: 10px;
    border-top: none;
    padding: 10px;
    display: none;
  }
  .dropdown-content:hover{
    transform: none;
  }
  
   .dropdown-content form {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  
   .dropdown-content input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #557a95;
  }
   .dropdown-content .options {
    text-align: center;
    margin-top: -10px;
  }
   .dropdown-content .options a {
    display: inline-block;
    margin-bottom: 10px;
    color: #557a95;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
   .dropdown-content .options a:hover {
    color: #30bd53;
  }
   .dropdown-content .options .separator {
    color: #557a95;
    margin: 0 5px;
  }
   .logo{
    z-index: 2;
  }
   .logo:hover{
    transform: scale(1.05);
  }
  /*
    Nav Bar ----------------------------------------------------------------------------------------
    */
/*
Search Bar ----------------------------------------------------------------------------------------
*/
  .Search-Bar{
    position: absolute;
    left: calc(95% - 1200px);
  }
 .Search-Bar .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}
 .search_wrap{
  margin-top: 10px;
  border: 2px solid #557a95;
}
 .search_wrap .search_box{
	position: relative;
	width: 700px;
	height: 40px;  
}
 .search_wrap .search_box .input{
	position: absolute;
	top: 0;
  color: black;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	font-size: 18px;
}
 .search_wrap .search_box .btn{
	position: absolute;
	top: 0;
    right: 0%;
	width: 60px;
	height: 100%;
	background: #b3b3b3;
	z-index: 1;
	cursor: pointer;
  border-left: 2px solid #557a95;
}
 .search_wrap .search_box .btn:hover{
	background: #888888;	
}

 .search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #557a95;
	font-size: 20px;
}
/*
Search Bar ----------------------------------------------------------------------------------------
*/
.scroll-buttons {
    position: absolute;
    top: 135%;
    right: 12.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.scroll-button {
    position: relative;
    background-color: #557a95;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    width: 180px; /* Initial width for circle */
    height: 50px; /* Initial height for circle */
    opacity: 50%;
}


.scroll-buttons .scroll-button{
    background-color: transparent;
    padding-right: 30px; /* Padding for the text to appear */
    width: auto; /* Allow the button to expand for text */
    text-align: left; /* Align the text to the left */
    font-size: 20px; /* Adjust font size as needed */
    line-height: 10px; /* Adjust line height for proper spacing */
    opacity: 1;
    padding: 15px 20px;
}
.scroll-buttons{
    background-color: #8b7d77;
    border-radius: 5px;
    width: 180px;
    align-items: center;
}

.scroll-button:hover{
    background-color: transparent;
    top: 20%;
    font-weight: bolder;
    text-align: center;
    opacity: 100%;

}
.Home{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background-image: url('Images/Home.jpg');
    display: flex;
    align-items: top;
    justify-content: left;
    z-index: -2;
    font-size: 24px;
    color: #fff;
    position: relative;
    border-bottom: none;

  }
  .black{
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

.Home h1{
  font-size: 120px;
  padding-left: 5%;
  padding-top: 150px;
}
.Home h2{
  font-size: 150px;
  margin-top: 235px;
  margin-left: -307px;
  color: #fff;
}
.sections{
  scroll-snap-align: start;
}

.About{
    top: 200%;  
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    color: #557a95;
    background-color: #dfdfdf;
    align-items: top;
    position: absolute;
    padding-top: 70px;
}
.About h1{
  font-size: 120px;
  padding-left: 5%;
  padding-top: 150px;
}
.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    top: 100%;
    z-index: -2;
    color: #fff;
    opacity: 100;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 0;
    background-position: 100%;

  }
  .background-colors{
    position: absolute;
    background-color: #557a95;
    width: 100vw;
    height: 100vh;
    z-index: -4;
  }
  .white{
    position: absolute;
    background-color: #000;
    width: calc(50% - 192px);
    min-width: 412px;
    height: 100vh;
    left: 0px;
    z-index: -3;
    opacity: 1;
  }
  .section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Inherit the background image from the section */
    background-repeat: no-repeat;
    opacity: 0.5; /* Set the desired opacity */
    z-index: -1; /* Place the pseudo-element behind the content */
    background-position: 0%;
    background-size: calc(50% - 192px) 100%;
}

@media screen and (max-width: 1205px) {

    .section::before {
    background-size: 412px 100%;
}
}
.section a{
  position: absolute;
  color: #fff;
  height: auto;
  max-width: auto;
  left: 5%;
  top: 40%;
  font-size: 100px;
  z-index: 0;
}

 .grid-con  {
      position: absolute;
      display: grid;
      width: 50%;
      grid-template-columns: 25% 25% 25%;
      padding-top: 5px;
      padding-bottom: 3%;
      gap: 2%;
      color: #fff;
      overflow: hidden;
      justify-content: center;
      left: calc(45% - 100px);
      opacity: 1;
    }
    
.grid-item{
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 50%;
    height: 250px;
    cursor: pointer;
}


.grid-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove the underline on links */
  top: 0%;
  left: 0%;
  height: 100%; /* Ensure the link takes the full height of the grid item */
  width: 100%; /* Ensure the link takes the full width of the grid item */
  border-radius: 50%; /* Preserve the circular shape */
  cursor: pointer;
  position: relative; /* Add relative positioning to handle z-index */
  z-index: 1; /* Ensure links are clickable over other content */
  overflow: hidden; /* Clip any overflowing content */
  color: inherit; /* Inherit text color from parent */
  
}
.item{
    text-align: center;
    display: inline-block;
}

 .active-section {
  opacity: 1;
}
.hidden-section{
  opacity: 0;
  pointer-events: none;
}

.grid-item span.item {
  user-select: none; /* Make the numbers inside grid items not selectable */
}

/*
Rotating Banner -----------------------------------------------------------------------------------
*/
 .container{
  padding: 0rem;
  width: 95vw;
}
 .slider-wrapper {
  position: relative;
  max-width: 44rem;
  margin-top: 175px;
  left: calc(70% - 500px);
  border: 3px solid #557a95;
  border-radius: 0.65rem;
}
 .slider {
  display: flex;
  aspect-ratio: 5 / 3;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
  border-radius: 0.5rem;
}
 .slider a{
display:contents;
}
 .slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: fill;
}
.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
 .slider-nav a{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #557a95;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
 .slider-nav a:hover{
  opacity: 1;
}
/*
Rotating Banner -----------------------------------------------------------------------------------
*/
@media  screen and (max-width: 600px) 
{
  .logo{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
  }
  .buttons{
    display: flex;
    position: absolute;
    justify-content: right;
    align-items: right;
    top: 0%;
  }
  
}