html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
    margin: 0;
    background-color: transparent;
    padding: 0;
    color: #fff;

  }
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Baskerville", serif;
}
/*
  Nav Bar ----------------------------------------------------------------------------------------
  */

  .Tab-1{
    width: 100vw;
    height: 100vh;
    background-color: #8b7d77;
    overflow: hidden;
  }
  .NAV {
    position: fixed;
    z-index: 2;
    width: 100%;
  }
   .logo {
    text-align: center;
    display: flex;
    padding-top: 10px;

  }
   .logo img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
  }
   .logo span {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
  }
   header a {
    text-decoration: none;
  }
   header {
    z-index: 5;
    padding: 0 20px;
    background: transparent;
    height: 65px;
    display: flex;
    justify-content: space-between;
  }
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  #brand a {
    color: #09c372;
  }
   ul {
    list-style: none;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-top: 5px;
    padding-bottom: 25px;
    padding: 5px 20px 20px 10px;
    border-radius: 40%;
  }
  .links-nav{
    margin-top: 15px;
    padding-top: 5px;
    font-size: 20px;
    padding-right: 35px;
    padding-left: 30px;
    border-right: 1px solid white;
  }
   ul a {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
   ul p {
    font-size: 16px;
    font-weight: bolder;
    margin-top: -5px;
  }
   ul li {
    padding: 1px;
    margin-left: 10px;
  }
   ul a:hover {
      color: #30bd53;
    transition: 0.3s;
  }
   .dropdown {
    position: relative;
    margin-top: 15px;
    display: inline-block; /* Keep the dropdown as an inline block */
    padding-left: 30px;
  }
  .dropdown.open .dropdown-content {
    display: block;
  }

   .dropdown-content {
    position: absolute;
    top: 137%;
    left: -75px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #557a95;
    border-radius: 10px;
    border-top: none;
    padding: 10px;
    display: none;
  }
  .dropdown-content:hover{
    transform: none;
  }
  
   .dropdown-content form {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  
   .dropdown-content input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #557a95;
  }
   .dropdown-content .options {
    text-align: center;
    margin-top: -10px;
  }
   .dropdown-content .options a {
    display: inline-block;
    margin-bottom: 10px;
    color: #557a95;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
   .dropdown-content .options a:hover {
    color: #30bd53;
  }
   .dropdown-content .options .separator {
    color: #557a95;
    margin: 0 5px;
  }
   .logo{
    z-index: 2;
  }
   .logo:hover{
    transform: scale(1.05);
  }
  /*
    Nav Bar ----------------------------------------------------------------------------------------
    */
/*
Search Bar ----------------------------------------------------------------------------------------
*/
  .Search-Bar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .Search-Bar .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}
 .search_wrap{
  margin-top: 10px;
  border: 2px solid #557a95;
}
 .search_wrap .search_box{
	position: relative;
	width: 700px;
	height: 40px;  
}
 .search_wrap .search_box .input{
	position: absolute;
	top: 0;
  color: black;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	font-size: 18px;
}
 .search_wrap .search_box .btn{
	position: absolute;
	top: 0;
    right: 0%;
	width: 60px;
	height: 100%;
	background: #b3b3b3;
	z-index: 1;
	cursor: pointer;
  border-left: 2px solid #557a95;
}
 .search_wrap .search_box .btn:hover{
	background: #888888;	
}

 .search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #557a95;
	font-size: 20px;
}
/*
Search Bar ----------------------------------------------------------------------------------------
*/


 .scroll{
  width: 100vw;
  height: 100vh;
  background-color: #557a95;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.page {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  background-color: #557a95; /* Set your page background color */
  overflow: hidden;
}

.scroll-arrow {
  position: absolute;
  top: 150%;
  transform: translateY(-50%);
}

.arrow-button {
  padding: 5px 10px;
  font-size: 24px;
  background-color: transparent; /* Set your button background color */
  color: #fff; /* Set your button text color */
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


#scroll-arrow-left {
  left: 0;
}

#scroll-arrow-right {
  right: 0;
}

.arrow-button:hover {
  background-color: #49687f; /* Set your button background color on hover */
  color: #888888;
}

.page h2{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 10%;
  font-size: 50px;
}
.page p{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -15%;
  font-size: 25px;
  width: 40%;
  left: 45%;
}
.page img{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 20%;
  left: 10%;
  width: 30%;
  height: 50%;
}





